html{
	background-color: black;
	height:100%;
}

body{
	min-height:800px;
	background-image: url("bgc.png");
	background-position: center;
	background-repeat: repeat-y;
	margin: 0px;
}

.nav{
	width: 100%;
	height: 40px;
	background-image: url("/~flucia/nav.png");
	border-radius: 0px 0px 20px 20px;
	position: fixed;
	top: 0px;
	border-bottom: outset 1px black;
}

.nav_menu{
	padding:0px;
	margin:0px;
	list-style-type:none;
}

.nav_menu li{
	float: left;                                       
}

.nav_menu li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.connection, connection a{
	display: inline-block;
	font-size: 20px;
	list-style: none;
	color: orange;
	text-align: center;
	background-color: black;
	padding: 5px;
	margin: 15px 0px 0px 20px;
	width: 150px;
	border-radius: 0px 0px 20px 20px;
	border-left: outset 1px black;
	border-right: outset 1px black;
	border-bottom: outset 1px black;
}

.connection li{
	float:none;
}

.tconnection{
	display: inline-block;
	margin-top: 20px;
	font-size: 15px
}

.tconnection a{
	color: grey;
	text-decoration: none;
}

.header{
	width: 600px;
	margin: auto;
	margin-top: 60px;
}

.page{
	color: white;
	width: 860px;
	padding-left: 35px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 70px;
	font-family: Lucida;
	font-size: 14px;
}

.wrapper{
	background-color: black;
	margin-left: 10px;
	margin-right: 100px;
}

.tborder{
	width: 100%;
	padding: 1px;
	margin: 20px;
	border: solid 1px rgb(40,40,40);
	background-color: rgb(25,25,25);
}

.ttitle{
	padding: 3px;
	color: white;
	background-image: url("gradient_ttitle.gif");
}

.panelsurround{
	background-color: rgb(30,30,30);
}

.panel{
	width: 540px;
	text-align: left;
	background-color: black;
	border: solid 1px white;
	margin: 5px;
	padding: 10px 100px 10px 100px ;
	color: white;
}

.sign_up_table{
	color: white;
	width: 100%;
}

.sign_up_table td{
	background-color: rgb(20,20,20);
	padding: 3px;
}

.footer{
	color: orange;
	width: 100%;
	heigth: 40px;
	background-image: url("/~flucia/nav.png");
}

#submit{
	padding: 5px;
	border: outset 3px black;
	border-radius: 5px;
	background-color: red;
}

#sign_up input{
	padding: 3px;
	background-color: black;
	color: white;
	border: inset 3px white;
	border-radius: 5px;
}

.loading{
	font-size:90px;
	text-align:center;
	color:white;
	margin:auto;
	margin-top:200px;
}

#menu_principal{
	height: 600px;
	width: 800px;
	border: 3px outset black;
	background-color: rgb(20,25,25);
}

#menu_bar{
	font-size: 14px;
	background-color: black;
	border: 2px outset orange;
	border-radius: 5px;
	height: 40px;
	width: 100px;
}

#menu_bar li{
	list-style-type : none;
}

#tables_list{
	border: 3px inset black;
	padding: 3px;
	margin: auto;
	width: 600px;
	height: 500px;
	overflow-y: scroll;
}

#tables_list {
	border-collapse:collapse;
}
#nom_table_col{
	width: 190px;
	height: 40px;
}

#nb_j_col{
	width: 150px;
}

#mise_min_col{
	width: 150px;
}

#button_col{
	width: 100px;
}

#table_page{
	color: white;
	width: 860px;
	margin: auto;
	margin-top: 60px;
	font-family: Lucida;
}

#top_menu_table{
	color : white;
	width: 100%;
	height: 40px;
	background-image: url("/~flucia/nav.png");
	position: fixed;
	top: 0px;
	border: outset 1px black;
	padding:0px;
}

#table_name{
    display:inline-block;
    background-color:black;
    text-align:center;
    height:25px;
    border: inset 2px grey;
    width: 150px;
}

#stats{
    width:240px;
    padding-left:190px;
}

#stats table{
    text-align:center;
    font-size:14px;
    width:200px;
    background-color:black;
    border: inset 2px grey;
    border-radius: 0px 0px 10px 10px;
}

#quit_table_next_round{
    display:inline-block;
    font-size:12px;
}

#quit_table{
    display:inline-block;
    padding-top:5px;
}

.table{
	color:white;
	height: 430px;
	width: 795px;
	border-spacing:10px;
	background: url("/~flucia/client/table/table.jpg") no-repeat;
	background-position: 28px 50px;
}

.table div{
	text-align:center;
	margin: 0px 0px 50px 0px;
	background-color: rgb(20,25,25);
	border-radius:5px;
	border: outset 2px orange;
	font-size:12px;
	width: 125px;
	height: 100px;
}

#select_seat{
	border : none;
	padding-top: 40px;
	height: 60px;;
}

.table .pot_div{
	font-size: 14px;
	margin-left: 20px;
	height:50px;
	width: 70px;
}

#player_status_bar{
	height: 25px;
	width: 80px;
	background-color:rgb(30,45,45);	
	border: 2px inset rgb(30,35,35);
	border-radius: 5px;
}

#timer_box{
	color : rgb(180,195,195);
	font-size: 15px;
	width: 25px;
	background-color:rgb(30,45,45);
	border: 2px inset rgb(30,35,35);
	border-radius: 20px;
}

.pseudo{
	font-size:14px;	
	text-transform: capitalize;
}

#board{
	margin-bottom: 50px;
}

.chat{
	color: black;
	height: 150px;
	width: 310px;
	margin-left: 5px;
	border: 2px inset black;
	background-color: rgb(20,25,25);
}

#chat_box{
	height: 120px;
	padding: 3px;
	background-color: rgb(230,230,230);
	overflow-y: scroll;	
}

.message_systeme{
	color:red;
	font-size: 15px;
}

.message_chat_systeme{
	font-size : 13px;
	color: blue;
}

.cards{
	height: 150px;
	width: 190px;
	background-color: rgb(20,25,25);
	border: 2px outset black;
}

#cards_box{
	display:inline-block;
	margin-left: 3px;
	margin-top: 10px;
}

.select{
	height: 150px;
	width: 310px;
	background-color: rgb(20,25,25);
	color: black;
	border: 2px outset black;
}

.select table{
    margin-top:20px;
}

#select_money{
    font-size:13px;
    color:white;
    width: 250px;
    margin:auto;
    margin-top: 40px;
}

#cave{
    margin-top:10px;
    margin-bottom:10px;
}

#relance_div{
    margin: auto;
    margin-top:10px;
    width: 250px;
}

#absent{
	text-align:center;
	font-size:15px;
	padding: 5px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top:-50px;
	margin-left:-100px;
	height:100px;
	width:200px;
	border-radius: 5px;	
	border: 3px outset black;
	background-color:grey;
	z-index:101;
}

#absent div{
	margin-top:20px;
	border: 2px inset grey;
	background-color: rgb(100,100,100);
}

#absent_background{
	position: fixed;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	z-index:100;
	opacity:0.5;
	background-color:black;
}
